<%- include("./partials/header.ejs")%>
<link rel="stylesheet" href="../CSS/Landing.css">

    <div class="first_div1 container">
        <h1 class="Heading">ADMIN PANNEL</h1>
        <li class="child_tow">
            <a href="/Register" class="get_started">Get Started</button> </a>
        </li>
    </div>
    <div class="first_div2">
        <div class="content_holder1">

        </div>
    </div>
    <div class="first_div3">
        <div class="content_holder2">

        </div>
    </div>

    <script src="../JS/Landing.js">
    </script>
    <%- include("./partials/footer.ejs") %>